# Configuration file

####################
# additional nugget metals
####################

"additional nugget metals" {
    B:addAluminiumNugget=false
    B:addChromiumNugget=false
    B:addCoalNugget=false
    B:addCobaltNugget=false
    B:addCopperNugget=false
    B:addIronNugget=false
    B:addLeadNugget=false
    B:addNickelNugget=false
    B:addPlatinumNugget=false
    B:addSilverNugget=false
    B:addTinNugget=false
    B:addTitaniumNugget=false
    B:addTungstenNugget=false
    B:addUraniumNugget=false
    B:addZincNugget=false
}


####################
# allowed coin metals
####################

"allowed coin metals" {
    B:allowAluminium=false
    B:allowChromium=false
    B:allowCoal=false
    B:allowCobalt=false
    B:allowCopper=true
    B:allowGold=true

    # !WARNING! If you emable Iron Coins make sure to set Steel Makers Marks to true (and use a mod that provides a Steel Ingot),or you wont be able to finish ANY coins.
    B:allowIron=false
    B:allowLead=true
    B:allowNickel=false
    B:allowPlatinum=false
    B:allowSilver=true
    B:allowTin=true
    B:allowTitanium=false
    B:allowTungsten=false
    B:allowUranium=false
    B:allowZinc=false
}


####################
# item
####################

item {
    I:advancedGlass=5013
    I:coin=5016
    I:coinDie=31742
    I:inspectionReport=31740
    I:inspectorsGlass=31743
    I:makersMark=5014
    I:mintersMallet=5011
    I:nugget=31741
}


####################
# settings
####################

settings {
    B:canMeltCoins=true
    B:startupUpdateCheck=true
    B:steelMakersMarks=false
}


